.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 75%;

  grid-template-areas:

          "h h"
          "n c";


  grid-template-rows: 10% 90%;
  grid-template-columns: 10% 90%;
  grid-gap: 10px;
}
