.app-wrapper {
    margin: 4px auto;
    display: grid;
    width: 800px;

    grid-template-areas: "h h"
                         "n c";


    grid-template-rows: 50px 9fr;
    grid-template-columns: 100px 9fr;
    grid-gap: 4px;

}
