.app-wrapper {
    margin: 4px auto;
    display: grid;
    width: 800px;

    grid-template-areas: "h h" "n c";


    grid-template-rows: 50px 5fr;
    grid-template-columns: auto 9fr;
    grid-gap: 4px;
}
.app-wrapper-content {
    grid-area: c;
    background-color: white;
}
