.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.usersDialogs {
    padding: 10px;
}
.user a {
    color: orange;
    text-decoration: none;
}
.user a.activeLink{
    color: blue;
}

.messages {
    padding: 10px;
}
.user img{
    width: 50px;
    border-radius: 20px;
    margin-top: 50px;
}